
<div id="collection-content" class="collectioncontent">
  <div>{{ collection.metafields.custom.collection_description_ }}</div> 
</div>



 {% schema %}
{
  "name": "collectionTabing",
  "settings": [
  ],
  "presets": [
    {
      "category": "html",
      "name": "collectionTabing"
    }
  ]
}
{% endschema %}
