<section class="frequently-bought page-width">
  <h1>Frequently bought together</h1>

  <h2>Drops</h2>
  <ul>
    <li>FG0300-12 SS Mint 28 ct
      <ul>
        <li>FG0300-10 SS LHG 28 ct</li>
      </ul>
    </li>
    <li>FG0300-10 SS LHG 28 ct
      <ul>
        <li>FG0300-12 SS mint 28 ct</li>
      </ul>
    </li>
    <li>FG0300-13 Morning Sickness Drops
      <ul>
        <li>FG0536-13 Morning Sickness Gummies 60 ct</li>
        <li>FG0035-05 Post Baby High Waist (L/XL)</li>
        <li>FG0076-11 New Berry Drink Mix</li>
        <li>FG0005-02- Milkscreen Test Strips</li>
      </ul>
    </li>
  </ul>

  <h2>Gummies</h2>
  <ul>
    <li>FG0538-01 Strawberry Fiber Gummies
      <ul>
        <li>No similar product for purchase</li>
        <li>FG0300-10 SS LHG 28 ct</li>
        <li>FG0300-12 SS mint 28 ct</li>
      </ul>
    </li>
    <li>FG0536-01 SS Gummies 50 ct
      <ul>
        <li>FG0300-10 SS LHG 28 ct</li>
        <li>FG0300-12 SS mint 28 ct</li>
      </ul>
    </li>
    <li>FG0160-01 Green Apple Moringa Gummies
      <ul>
        <li>FG0162-01 Grapes Fenugreek Gummies</li>
        <li>FG0076-11 New Berry Drink Mix</li>
        <li>FG0076-14 Chocolate Drink Mix</li>
        <li>FG0074-12 Blueberry Acai</li>
      </ul>
    </li>
    <li>FG0162-01 Grapes Fenugreek Gummies
      <ul>
        <li>FG0160-01 Green Apple Moringa Gummies</li>
        <li>FG0074-12 Blueberry Acai</li>
        <li>FG0076-14 Chocolate Drink Mix</li>
        <li>FG0076-11 New Berry Drink Mix</li>
      </ul>
    </li>
    <li>FG0536-13 Morning Sickness Gummies 60 ct
      <ul>
        <li>FG0300-13 Morning Sickness Drops</li>
        <li>FG0300-12 SS Mint 28 ct</li>
        <li>FG0300-10 SS LHG 28 ct</li>
      </ul>
    </li>
  </ul>

  <h2>Powder</h2>
  <ul>
    <li>FG0076-03- Orange Mango Drink Mix
      <ul>
        <li>FG0074-04 Elderberry Lemonade Drink Mix</li>
        <li>FG0220-01 Shrinkx Belly Bamboo (S/M)</li>
        <li>FG0005-02- Milkscreen Test Strips</li>
        <li>FG0670-01 Berry Softchew</li>
      </ul>
    </li>
    <li>FG0074-04 Elderberry Lemonade Drink Mix
      <ul>
        <li>FG0030-05 C-Panty High Waist</li>
        <li>FG0076-03- Orange Mango Drink Mix</li>
        <li>FG0005-02- Milkscreen Test Strips</li>
        <li>FG0670-01 Berry Softchew</li>
      </ul>
    </li>
    <li>FG0076-11 New Berry Drink Mix
      <ul>
        <li>FG0076-14 Chocolate Drink Mix</li>
        <li>FG0005-02- Milkscreen Test Strips</li>
        <li>FG0035-05 Post Baby High Waist (L/XL)</li>
        <li>FG0670-01 Berry Softchew</li>
      </ul>
    </li>
    <li>FG0670-01 Berry Softchew
      <ul>
        <li>FG0074-04 Elderberry Lemonade Drink Mix</li>
        <li>FG0125-04 Capsules 100 ct</li>
      </ul>
    </li>
    <li>FG0125-04 Capsules 100 ct
      <ul>
        <li>FG0162-01 Grapes Fenugreek Gummies</li>
        <li>FG0076-03- Orange Mango Drink Mix</li>
        <li>FG0074-12 Blueberry Acai</li>
      </ul>
    </li>
  </ul>

  <h2>Test Strips</h2>
  <ul>
    <li>FG0005-02- Milkscreen Test Strips
      <ul>
        <li>FG0220-01 Shrinkx Belly Bamboo (S/M)</li>
        <li>FG0035-05 Post Baby High Waist (L/XL)</li>
        <li>FG0030-05 C-Panty High Waist</li>
      </ul>
    </li>
  </ul>

  <h2>Apparel</h2>
  <ul>
    <li>FG0030-05 C-Panty High Waist
      <ul>
        <li>FG0300-13 Morning Sickness Drops</li>
        <li>FG0162-01 Grapes Fenugreek Gummies</li>
        <li>FG0005-02- Milkscreen Test Strips</li>
      </ul>
    </li>
    <li>FG0035-05 Post Baby High Waist (L/XL)
      <ul>
        <li>FG0005-02- Milkscreen Test Strips</li>
        <li>FG0074-12 Blueberry Acai</li>
        <li>FG0076-14 Chocolate Drink Mix</li>
      </ul>
    </li>
    <li>FG0220-01 Shrinkx Belly Bamboo (S/M)
      <ul>
        <li>FG0074-04 Elderberry Lemonade Drink Mix</li>
        <li>FG0005-02- Milkscreen Test Strips</li>
        <li>FG0160-01 Green Apple Moringa Gummies</li>
      </ul>
    </li>
  </ul>
</section>

{% schema %}
{
  "name": "Frequently Bought Together",
  "settings": [
    {
      "type": "header",
      "content": "Static content"
    }
  ]
}
{% endschema %}
